@media only screen and (min-width:100px){
    *{
        font-family: serif;
    }

    .title{
        background-image: url(Images/Backgrounds/landing.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .layouttitle{
        display: flex;
    }

    .logopic{
        text-align: center;
        padding: 35px;
        font-size: 30px;
        color: white;
    }

    #divtext{
        display: flex;
        flex-direction: row;
        margin-left: 211px;
    }

    .happyhrtext{
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .HappyHour{
        background-color: lightgray;
        text-align: center;
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .PartyTime{
        background-color: red;
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 35px;
        padding-bottom: 35px;
        color: white;
    }

    #foodtopimages{
        display: flex;
        flex-direction: row;
    }

    .bckbreakfast{
        text-align: center;
        padding-top: 75px;
        font-size: 28px;
        color: white;
        font-family: serif;
        font-style: italic;
    }

    .bcklunch{
        text-align: center;
        padding-top: 75px;
        font-size: 28px;
        color: white;
        opacity: 0.3;
        font-family: serif;
        font-style: italic;
    }

    .bckdinner{
        text-align: center;
        padding-top: 75px;
        font-size: 28px;
        color: white;
        font-family: serif;
        font-style: italic;
    }

    .bckbreakfast{
        background-image: url(Images/foodtop/breakfast.jpg);
        background-repeat: no-repeat;
        width: 350px;
    }

    .bcklunch{
        background-image: url(Images/foodtop/lunch.jpg);
        background-repeat: no-repeat;
        width: 350px;
    }

    .bckdinner{
        background-image: url(Images/foodtop/dinner.jpg);
        background-repeat: no-repeat;
        width: 350px;
    }

    #fastfoodimages{
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0px 0px 3px 3px lightgray;
        padding: 15px;
    }

    #ffood{
        column-count: 2;
        margin-top: 4%;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
        /* display: flex; */
    }

    .fastfoodtext{
        height: 400px;
        margin-left: 30px;
    }

    .drinks{
        column-count: 2;
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }

   #drinkstext{
       text-align: right;
       height: 450px;
       margin-right: 30px;
   }

   #drinkstext>h6{
       border: 1px solid red;
       border-radius: 3px;
       color: red;
       padding: 8px;
       width: 60%;
       text-align: center;
       float: right;
   }

   .drinksimages{
       padding: 20px;
       box-shadow: 0px 0px 3px 3px lightgray;
   }

   .spanimages{
       background-image: url(Images/Backgrounds/foodsBg.jpg);
       margin-left: 20%;
       margin-right: 20%;
       text-align: center;
       height: 400px;
       margin-top: 0px;
       padding-top: 100px;
       color: white;
       opacity: 0.7;
       margin-bottom: 80px;
   }



   #typerow{
       text-align: center;
   }

   #foodtype{
       margin: auto;
       width: 100%;
       margin-bottom: 10px;
       border-collapse: collapse;
   }

   #typerow>td{
       background-color: lightgray;
       border-collapse: collapse;
       border-left: 1px solid rgb(170, 169, 169);
       border-bottom: 1px solid rgb(170, 169, 169);
       padding: 10px;
       font-size: 20px;
       color: black;
       font-weight: 600;
       height: 40px;
   }

   .table{
       background-color: whitesmoke;
       margin: 0px 70px 0px 70px;
       padding-top: 0px;
       padding-bottom: 15px;
       border-radius: 5px;
   }

    #burger {
        columns: 3;
        margin-left: 20px;
        margin-right: 20px;
        color: tomato;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 0px;
    }

   #typerow>td:first-child{
       background-color: whitesmoke;
       color: tomato;
       border-bottom: 0px;
   }

   .happy{
       columns: 2;
       box-shadow: 0 0 3px 4px lightgray;
       margin: auto;
       width: 50%;
       margin-bottom: 40px;
       column-rule: 1px solid lightgray;
       padding: 15px;
       text-align: center;
   }

   #happycustomer> h4{
       font-size: 20px;
       font-weight: 700;
       color: tomato;
   }

   #happycustomer{
       
   }

   .happycustomertext{
       height: 200px;
   }

   .subscribeimg{
       background-image: url(Images/Backgrounds/subscribe.jpg);
       margin: auto;
       margin-left: 15%;
       margin-right: 15%;
       text-align: center;
       height: 250px;
       padding: 8px;
   }

   .subscribe{
       font-size: 40px;
       color: white;
   }

   #sub{
       display: flex;
       flex-direction: row;
       padding: 0px;
   }

   #textinput{
       margin-left: 450px;
       margin-right: 25px;
       font-size: 20px;
       opacity: 0.4;
       color: black;
       height: 30px;
       padding: 5px;
       border-radius: 3px;
   }

   #subtn{
       background-color: tomato;
       border-radius: 4px;
       padding-left: 15px;
       padding-right: 15px;
       padding-top: 5px;
       padding-bottom: 5px;
       font-size: 20px;
   }

   .footer{
       height: 250px;
       width: 1275px;
       background-color: tomato;
       margin: auto;
       text-align: center;
   }

   #footerlogo{
       padding: 30px;
   }


}