@media only screen and (min-width:100px){
    *{
        font-family: serif;
    }

    .navbar {
        width: 60px;
        display: block;
        margin: 50px auto;
        padding: 8px 10px;
        transition: all 0.5s;
       -webkit-transition: all 0.5s;
       float: left;
       margin-left: 290px;
    }

    .navbar div{
        height: 5px;
        background: #fff;
        margin: 7px 0px 7px 0px;
        border-radius: 25px;
        transition: all 0.5s;
       -webkit-transition: all 0.5s;
    }

    .navbar div{
        height: 5px;
        width: 50px;
        background: #fff;
        margin: 7px 0px 7px 0px;
        border-radius: 25px;
        transition: all 0.5s;
       -webkit-transition: all 0.5s;
    }

    .navbar div{
        height: 5px;
        width: 40px;
        background: #fff;
        margin: 7px 0px 7px 0px;
        border-radius: 25px;
        transition: all 0.5s;
       -webkit-transition: all 0.5s;
    }

    .navbar:hover div {
        width: 60px;
    }

    .title{
        background-image: url(Images/Backgrounds/landing.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .logoBig{
        margin-left: -280px;
    }

    .layouttitle{
        display: flex;
    }

    .logopic{
        text-align: center;
        padding: 35px;
        color: white;
        /* font-weight: 300; */
    }

    .logopic>p{
        font-size: 38px;
        font-family: cursive;
        font-weight: 100;
    }

    #divtext{
        display: flex;
        flex-direction: row;
        margin-left: 211px;
    }

    .happyhrtext{
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .HappyHour{
        background-color: lightgray;
        text-align: center;
        padding-left: 95px;
        padding-right: 95px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .PartyTime{
        background-color: red;
        padding-left: 95px;
        padding-right: 95px;
        padding-top: 35px;
        padding-bottom: 35px;
        color: white;
    }

    #foodtopimages{
        display: flex;
        flex-direction: row;
    }

    .bckbreakfast{
        text-align: center;
        padding-top: 75px;
        font-size: 28px;
        color: white;
        font-family: serif;
        font-style: italic;
    }

    .bcklunch{
        text-align: center;
        padding-top: 75px;
        font-size: 28px;
        color: white;
        opacity: 0.3;
        font-family: serif;
        font-style: italic;
    }

    .bckdinner{
        text-align: center;
        padding-top: 75px;
        font-size: 28px;
        color: white;
        font-family: serif;
        font-style: italic;
    }

    .bckbreakfast{
        background-image: url(Images/foodtop/breakfast.jpg);
        background-repeat: no-repeat;
        width: 350px;
    }

    .bcklunch{
        background-image: url(Images/foodtop/lunch.jpg);
        background-repeat: no-repeat;
        width: 350px;
    }

    .bckdinner{
        background-image: url(Images/foodtop/dinner.jpg);
        background-repeat: no-repeat;
        width: 350px;
    }

    #fastfoodimages{
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0px 0px 3px 3px lightgray;
        padding: 15px;
    }

    #ffood{
        column-count: 2;
        margin-top: 4%;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
        /* display: flex; */
    }

    .fastfoodtext{
        height: 400px;
        margin-left: 30px;
    }

    .drinks{
        column-count: 2;
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }

   #drinkstext{
       text-align: right;
       height: 450px;
       margin-right: 30px;
   }

   #drinkstext>h6{
       border: 1px solid red;
       border-radius: 3px;
       color: red;
       padding: 8px;
       width: 40%;
       text-align: center;
       float: right;
       font-size: 23px;
       text-transform: capitalize;
       font-weight: 500;
   }

    .fastfoodtext>h6{
        border: 1px solid red;
        border-radius: 3px;
        color: red;
        padding: 8px;
        /* width: 40%; */
        text-align: center;
        float: left;
        font-size: 23px;
        /* text-transform: capitalize; */
        font-weight: 500;
    }

   .drinksimages{
       padding: 20px;
       box-shadow: 0px 0px 3px 3px lightgray;
   }

   .spanimages{
       background-image: url(Images/Backgrounds/foodsBg.jpg);
       margin-left: 20%;
       margin-right: 20%;
       text-align: center;
       height: 400px;
       margin-top: 0px;
       padding-top: 80px;
       color: white;
       opacity: 0.7;
       margin-bottom: 50px;
   }



   #typerow{
       text-align: center;
   }

   #foodtype{
       margin: auto;
       width: 100%;
       margin-bottom: 10px;
       border-collapse: collapse;
       border-radius: 4px;
   }

   #typerow>td{
       background-color: lightgray;
       border-collapse: collapse;
       border-left: 1px solid rgb(170, 169, 169);
       border-bottom: 1px solid rgb(170, 169, 169);
       padding: 8px;
       font-size: 20px;
       color: black;
       font-weight: 600;
       height: 40px;
   }

   .table{
       background-color: whitesmoke;
       margin: 0px 70px 0px 70px;
       padding-top: 0px;
       padding-bottom: 15px;
       border-radius: 5px;
   }

   .arrow {
    border: solid red;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin: auto;
    padding-right: 1px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .arrow1 {
    border: solid red;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin: auto;
    padding-right: 1px;
  }
  
  .right1 {
    transform: rotate(90deg);
    -webkit-transform: rotate(9120deg);
  }

  #arrow{
      display: flex;
      margin: 5px;
  }

    #burger {
        columns: 3;
        margin-left: 20px;
        margin-right: 20px;
        color: tomato;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 0px;
        padding-top: 8px;
    }

   #typerow>td:first-child{
       background-color: whitesmoke;
       color: tomato;
       border-bottom: 0px;
       border-left: 0px;
       border-radius: 3px;
   }

   #typerow>td:last-child{
       border-right: 0px;
       border-radius: 3px;
   }

   .happy{
       columns: 2;
       box-shadow: 0 0 3px 4px lightgray;
       margin: auto;
       width: 50%;
       margin-bottom: 40px;
       column-rule: 1px solid lightgray;
       padding: 15px;
       text-align: center;
   }

   #happycustomer> h4{
       font-size: 20px;
       font-weight: 600;
       color: tomato;
       font-family: cursive;
       padding: 0px;
       column-span: 70%;
   }

   #happycustomer>h6{
       font-size: 16px;
       padding: 0px;
   }

   .happycustomertext>h4{
       color: tomato;
       font-size: 20px;
       padding-top: 20px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: 700;
   }

   .happycustomertext{
       height: 200px;
   }

   .subscribeimg{
       background-image: url(Images/Backgrounds/subscribe.jpg);
       margin: auto;
       margin-left: 15%;
       margin-right: 15%;
       text-align: center;
       height: 250px;
       padding: 8px;
   }

   .subscribe{
       font-size: 40px;
       color: white;
       padding-top: 50px;
   }

   #sub{
       display: flex;
       flex-direction: row;
       padding: 0px;
   }

   #textinput{
       margin-left: 390px;
       margin-right: 40px;
       font-size: 20px;
       opacity: 0.3;
       color: black;
       height: 25px;
       padding: 8px 40px 8px 5px;
       border-radius: 4px;
   }

   #sub > div > ::placeholder{
       font-family: fantasy;
   }

   #subtn{
       background-color: tomato;
       border-radius: 4px;
       padding-left: 35px;
       padding-right: 35px;
       padding-top: 8px;
       padding-bottom: 8px;
       font-size: 20px;
       color: white;
       border: none;
   }

   .footer{
       height: 300px;
       width: 1275px;
       background-color: tomato;
       margin: auto;
       text-align: center;
       color: white;
       margin-bottom: 50px;
   }

   #footerlogo{
       padding: 0px;
       column-count: 2;
       padding-top: 3%;
       width: fit-content;
       text-align: center;
       margin-left: 450px;
   }

   #footerlogo:first-child{
       height: 80px;
   }

   #menutext{
        font-size: 50px;
        color: white;
        font-family: serif;
        font-weight: 500;
        margin-left: 0px;
   }

   h3{
       font-family: cursive;
       font-size: 40px;
   }

   h4{
       font-size: 25px;
       font-family: cursive;
       font-weight: 600;
   }

   p{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
   }

   .subscribe > p{
       font-size: 25px;
       font-family: serif;
       font-weight: 500;
   }

   .footer>.we{
       font-family: cursive;
       font-size: 18px;
   }

   .footer>#menures{
        font-size: 13px;
        font-family: cursive;
        padding-top: 10px;
   }

}